.navbar-custom {
    background-color: fa;
}

.navbar-custom .navbar-brand {
    font-family: 'FancyFont', cursive;
}

.navbar-custom .cart-icon {
    margin-right: 20px;
}
.navbar-brand {
    font-family: 'FancyFont', cursive;
    font-size: 24px; 
}
.banner {
    position: relative;
    text-align: left;
}

.banner img {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    color: white;
    font-size: 36px; 
    font-weight: bold; 
    text-align: center;
}
.section-heading {
    text-align: center;
}
.btn-custom {
    background-color: gray;
    color: black;
}
.features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: beige;
    border: 1px black;
 }

.feature {
    text-align: center;
    
}

.feature i {
    font-size: 2rem;
    margin-bottom: 10px;
}
.blog-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.blog-post {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.blog-post img {
    max-width: 150px;
    margin-right: 20px;
}

.text {
    text-align: left;
}