.navbar-custom {
    background-color: white;
    font-family: 'FancyFont', cursive;
}

.navbar-custom .navbar-brand {
    font-family: 'FancyFont', cursive;
}

.navbar-custom .cart-icon {
    margin-right: 20px;
}
.navbar-brand {
    font-family: 'FancyFont', cursive;
    font-size: 24px; 
}
.btn-custom {
    background-color: gray;
    color: white;
    font-family: 'FancyFont', cursive;
}
.bottom-section {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
    font-family: 'FancyFont', cursive;
    flex-direction: column;
}

.address,
.useful-links,
.newsletter {
    max-width: 300px;
}

form {
    display: flex;
}

input[type="email"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
@media (min-width: 768px) {
    .bottom-section {
        flex-direction: row; 
    }
}
.product-details {
    display: flex;
    align-items: center;
}

.product-details img {
    width: 500px; /* Fixed width for the product image */
    height: auto;
    margin-right: 20px;
}

.product-details div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-details h2 {
    text-align: right;
    align-items: flex-start;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.product-details p,
.product-details button {
    text-align: right;
    margin: 0;
}

.product-details button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details button:hover {
    background-color: lightgrey;
}