.navbar-custom {
    background-color: white;
    font-family: 'FancyFont', cursive;
}

.navbar-custom .navbar-brand {
    font-family: 'FancyFont', cursive;
}

.navbar-custom .cart-icon {
    margin-right: 20px;
}
.navbar-brand {
    font-family: 'FancyFont', cursive;
    font-size: 24px; 
 
}
/* Apply styles to nav items in navbar-right section */
.navbar-right .nav-item .nav-link {
    color: #333;
    font-family: 'FancyFont', cursive;
    font-size: 16px;
    text-decoration: none; /* remove underline from links */
    margin: 0 10px; /* adjust margin as needed */
    font-weight: normal;
}

/* Apply styles to the cart count */
#cart-count {
    background-color: red;
    color: white;
    border-radius: 40%;
    padding: 5px 5px;
    font-size: 10px;
    position: relative;
    top: -3px; /* adjust vertical position */
    margin-left: 5px; /* adjust horizontal position */
}

.btn-custom {
    background-color: gray;
    color: white;
    font-family: 'FancyFont', cursive;
}
.bottom-section {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
    font-family: 'FancyFont', cursive;
    flex-direction: column;
}


form {
    display: flex;
}

input[type="email"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
@media (min-width: 768px) {
    .bottom-section {
        flex-direction: row; 
    }
}
.product-grid {
    display: flex;
   /* Align items to the top of the flex container */
}

.product-image img {
    width: 500px; /* Fixed width for the product image */
    height: auto;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the top of the flex container */
}

.product-title h2 {
    font-size: 24px;
   
    margin: 0;
    
}

.product-price p {
    font-size: 18px;
    color: #030303;
  
    margin: 0;
}

.product-button button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-button button:hover {
    background-color: lightgrey;
}
.social-media {
    margin-bottom: 20px;
}

.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #333;
}
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}
.user-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 10px;
}

.user-info,
.sign-in-btn,
.log-in-btn,
.sign-out-btn,
.cart-info {
    margin-right: 20px;
}

.user-info {
    font-weight: normal;
}

.sign-in-btn a,
.log-in-btn a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}