.navbar-custom {
    background-color: white;
    font-family: 'FancyFont', cursive;
}

.navbar-custom .navbar-brand {
    font-family: 'FancyFont', cursive;
}

.navbar-custom .cart-icon {
    margin-right: 20px;
}
.navbar-brand {
    font-family: 'FancyFont', cursive;
    font-size: 24px; 
 
}
/* Apply styles to nav items in navbar-right section */
.navbar-right .nav-item .nav-link {
    color: #333;
    font-family: 'FancyFont', cursive;
    font-size: 16px;
    text-decoration: none; /* remove underline from links */
    margin: 0 10px; /* adjust margin as needed */
    font-weight: normal;
}

/* Apply styles to the cart count */
#cart-count {
    background-color: red;
    color: white;
    border-radius: 40%;
    padding: 5px 5px;
    font-size: 10px;
    position: relative;
    top: -3px; /* adjust vertical position */
    margin-left: 5px; /* adjust horizontal position */
}



@media (min-width: 768px) {
    .bottom-section {
        flex-direction: row; 
    }
}
.user-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 10px;
}

.user-info,
.sign-in-btn,
.log-in-btn,
.sign-out-btn,
.cart-info {
    margin-right: 20px;
}

.user-info {
    font-weight: normal;
}

.sign-in-btn a,
.log-in-btn a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}
/* Media query for screens larger than or equal to 992px */
@media (min-width: 992px) {
    .navbar-custom .navbar-brand {
        font-size: 32px; 
    }
}
.reset-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 100%; /* Set the width of the container */
}

/* Center the container and align items in columns */
.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #45a049;
}

.reset-message {
    margin-top: 20px;
    font-weight: bold;
}
