.navbar-custom {
    background-color: white;
    font-family: 'FancyFont', cursive;
}

.navbar-custom .navbar-brand {
    font-family: 'FancyFont', cursive;
}

.navbar-custom .cart-icon {
    margin-right: 20px;
}
.navbar-brand {
    font-family: 'FancyFont', cursive;
    font-size: 24px; 
}
/* Apply styles to nav items in navbar-right section */
.navbar-right .nav-item .nav-link {
    color: #333;
    font-family: 'FancyFont', cursive;
    font-size: 16px;
    text-decoration: none; /* remove underline from links */
    margin: 0 10px; /* adjust margin as needed */
    font-weight: normal;
}

/* Apply styles to the cart count */
#cart-count {
    background-color: red;
    color: white;
    border-radius: 40%;
    padding: 5px 5px;
    font-size: 10px;
    position: relative;
    top: -3px; /* adjust vertical position */
    margin-left: 5px; /* adjust horizontal position */
}
.btn-custom {
    background-color: gray;
    color: white;
    font-family: 'FancyFont', cursive;
}
.bottom-section {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
    font-family: 'FancyFont', cursive;
    flex-direction: column;
}

.address,
.useful-links,
.newsletter {
    max-width: 300px;
}

form {
    display: flex;
}

input[type="email"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
@media (min-width: 768px) {
    .bottom-section {
        flex-direction: row; 
    }
}
.dropdown-content {
    display: none;
}


.show {
    display: block;
}
/* Add this CSS to style the grid layout */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with minimum 200px width for each column */
    gap: 20px; /* Gap between grid items */
    justify-content: center; /* Center the grid items */
}

/* Style individual product within the grid */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Remove default underline from anchor elements */
    color: inherit; /* Inherit text color from parent */
}

.product img {
    width: 100%; /* Make sure the image takes 100% width of its container */
    height: auto; /* Maintain aspect ratio */
}

.product h4 {
    margin-top: 10px; /* Add spacing between image and product name */
}

.product p {
    margin-top: 5px; /* Add spacing between product name and price */
}
